:root {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  /* CUSTOM COLORS */
  --purple: #550080;
  --light-purple: #9f7aea;
  --light-purple-opa2: rgba(159, 122, 234, 0.2);
  --light-purple-opa8: rgba(159, 122, 234, 0.8);
  --gray: #6d7076;
  --gray-opa2: rgba(109,112,118, 0.2);
  --gray-opa8: rgba(109,112,118, 0.8);
  --light-gray: #cbd5e0;
  --light-white: #f7fafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
