.dashpage-outer {
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
    position: relative;
}

.dashpage-image-left {
    position: absolute;
    bottom: 0;

    /* width: 100px; 
    height: 100px;  */
    width: 250px;
}
.dashpage-image-left-circle {
    position: absolute;
    top: 0;
    /* width: 100px; 
    height: 100px;  */
    width:auto;
    height: auto;
}
.dashpage-image-left {
    left: 0;
}

.dashpage-image-right {
    left: 20px;
}

.dashpage-title {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    height: 62px;
    padding-bottom: 24px;
}

.dashpage-desc {
    font-size: 22px;
    font-weight: medium;
    margin: 0px;
    height: 30px;
    padding-bottom: 56px;
}

.dashpage-inner {
    display: flex;
    flex-direction: horizontal;
}

.dashpage-create {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
}

.dashpage-join {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}

.dashpage-button-top {
    padding-bottom: 32px;
    font-weight: bold;
    font-size: 20px;
}