.dashpage-members-container {
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
}

.dashpage-members-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    width: 500px;
    padding-bottom: 8px;
}

.select-list-items.show .members-item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 48px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 16px;
    border-radius: 8px;
}

.select-list-items.show .members-item:hover {
    background-color: var(--light-purple);
}

.members-item .members-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.members-checkbox-icon {
    display: flex;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.members-item.selected .members-checkbox-icon {
    transform: scale(1);
}

.members-item .member-item-text {
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
}

.team-members-installations-container {
    padding: 32px;
}

.team-memembers-installations-title {
    font-weight: bold;
    font-size: 30px;
}

.dashpage-no-members {
    display: flex;
    justify-content: center;
}