nav {
    height: 60px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #550880;
    padding: 0.5rem 0rem;
}
  
.navbar-left {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.navbar-left li {
    margin-right: 10px;
}
.navbar-left a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.navbar-right {
    padding-right: 30px;
}
.navbar-right a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.navbar-right img {
    width: 30px;
    height: 30px;
    gap: 10px;
}