.create-team-container {
    margin-left: 35rem;
    padding-right: 10vw;
    height: 100%;
}

.create-team-title {
    padding-top: 2vw;
}

.create-team-footer {
    display: flex;
    justify-content: space-between;
}

.external-div-create-left, .external-div-create-right {
    display: flex;
    align-items: center; /* Center vertically */
    flex-direction: row;
    max-height: 16vw; /* Adjust based on your design */
    padding: 0.01em 0; /* Adjust padding as needed */
}

.external-div-create-left>span {
    padding-right: 0.5em;
}

.external-div-create-right>span {
    padding-left: 0.5em;
}

.create-team-inner {
    height: 2vw;
}