.recs-inner {
    padding-bottom: 4em;
}
.recs-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.recs-row-header {
    background-color: #edf2f7;
}

.recs-tech, .recs-action {
    padding: 1vw;
}

.recs-tech {
    border-top-left-radius: 8px;
    text-align: left;
}

.recs-action {
    border-top-right-radius: 8px;
}

.pending-approval-accordion {
    padding: 0px;
}

.pending-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.pending-recs-tech, .pending-recs-actions {
    padding: 1.25em 0;
}

.pending-recs-actions {
    text-align: center;
}

.action-item {
    margin: 0 1em;
    font-weight: 500;
    cursor: pointer;
}

.action-item.green {
    color: rgb(30, 165, 30);
}

.action-item.red {
    color: lightcoral;
}

.accepted-table-container {
    padding: 0px;
}

.accepted-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 0.1em solid #edf2f7;
    border-radius: 0 0 8px 8px;
}

.accepted-recs-tech, .accepted-recs-actions {
    padding: 1rem;
}

.accepted-recs-actions {
    text-align: center;
    color: var(--light-gray);
}

.accepted-recs-trash {
    cursor: pointer;
}

.accepted-recs-trash:hover {
    color: lightcoral;
}