.search-engine-container {
    display: flex;
    flex-direction: column;
    align-items: left; 
    /* padding: 20px; */
}

.search-description {
    text-align: left; 
    margin-bottom: 20px;
    margin-top: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
}

.search-icon {
    margin-right: 10px;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

.selected-technologies {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20%; 
}

.selected-technology {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 4px;
}

.technology-remove {
    margin-left: 8px;
    cursor: pointer;

}

.suggestion-list {
    border: 1px solid #000;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    /* position: absolute; */
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    z-index: 1;
    top: calc(100% + 2px);

    
  }
  
  .suggestion-item {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .suggestion-item.highlighted,
  .suggestion-item:hover {
    background-color: #bea6ef;
  }
  