.signup-outer {
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
}

.signup-title {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    height: 62px;
    padding-bottom: 24px;
}

.signup-desc {
    font-size: 22px;
    font-weight: medium;
    margin: 0px;
    height: 30px;
    padding-bottom: 56px;
}
